.block {
    display: flex;
    background-color: blanchedalmond;
    height: 100vh;
    
}

.body {
  align-items: center;
  background-color: pink;
  display: flex;
  height: 100vh;
  padding: 50px;
  width: 1000px;
  margin: auto;
}

.cube {
  height: 240px;
  position: absolute;
  transform-style: preserve-3d; 
  transform: rotateX(240deg) rotateY(-5deg) rotateZ(-155deg);
  width: 240px;
}

.face {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.face__top {
  background: red;
  transform: translateZ(-240px);
}

.face__front {
  background: rgb(0, 110, 255);
  transform: rotateX(90deg);
  transform-origin: bottom;
}

.face__left {
  background: green;
  transform: translateZ(-240px) rotateY(90deg) ;
  transform-origin: right;
  width: 240px;
}


.face__right {
  background: red;
  transform: translateZ(-240px) rotateY(90deg);
  transform-origin: right;
  width: 240px;
}

.square {
    margin: auto;
    margin-right: auto;
    width: 100px;
    height: 100px;
    background: red;
 }

  .rectangle {
   
    width: 220px;
    height: 110px;
    background: rgb(0, 81, 255);
    padding-top:5px;
    
  }

  .circle {
  margin: 5px;
    position: absolute;
    width: 90px;
    height: 90px;
    background: rgba(0, 81, 255, 0.425);
    border-radius: 45%;
    z-index:1;
    
     }
  
  .oval {
    margin: 30px;
    width: 200px;
    height: 100px;
    background: red;
    border-radius: 100px / 50px;
  }

  .triangle {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 50px solid yellow;
    margin-top: 10px;
    position:absolute;
  }

  .parallelogram {
    margin: 30px;
    width: 150px;
    height: 100px;
    transform: skew(20deg);
    background: red;
  }

  .pentagon {
    margin: 30px;
    position: relative;
    width: 54px;
    box-sizing: content-box;
    border-width: 50px 18px 0;
    border-style: solid;
    border-color: red transparent;
  }
  #pentagon:before {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    top: -85px;
    left: -18px;
    border-width: 0 45px 35px;
    border-style: solid;
    border-color: transparent transparent red;
  }

  .hexagon {
    margin: 30px;
    width: 100px;
    height: 57.735px;
    background: red;
    position: relative;
  }
  #hexagon::before {
    content: "";
    position: absolute;
    top: -28.8675px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 28.8675px solid red;
  }
  #hexagon::after {
    content: "";
    position: absolute;
    bottom: -28.8675px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 28.8675px solid red;
  }

