<div mat-dialog class="signupcontainer">
    <h1 mat-dialog-title class="title">Talk to an Expert Now!</h1>
    <br>
<mat-form-field class="form">
    <mat-label>Number of Providers involved in your practice</mat-label>
    <input matInput>
</mat-form-field>

<mat-form-field class="form">
    <mat-label>Your Name</mat-label>
    <input matInput>
</mat-form-field>

<mat-form-field class="form">
    <mat-label>Your Email</mat-label>
    <input matInput>
</mat-form-field>

<mat-form-field class="form">
    <mat-label>Phone</mat-label>
    <input matInput>
</mat-form-field>

<mat-form-field class="form">
    <mat-label>Convenient Callback time</mat-label>
    <input matInput>
</mat-form-field>

<mat-form-field class="form">
    <mat-label>Convenient Callback time</mat-label>
    <input matInput>
</mat-form-field>

    <button class="form" mat-raised-button>Signup</button>

</div>

